<div class="container">
  <h1>Users Admin</h1>
  <a class="btn btn-warning mb-3" [routerLink]="['/admin', 'users','add']">add</a>
  <div class="row">
    <div class="col-6">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users" class="data"> <!-- repeat this tr for each user -->
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td><button type="button" class="btn btn-primary" [routerLink]="['view', user.id]">view</button></td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="loadingData">{{message}}</div>
    </div>
    <div class="col-6">
      <!-- USER DETAIL GOES HERE -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


